@import '../../styles/variables.css';

.badge {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 28px;
  height: 28px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.4);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
