# Optional local Kokoro speech, including self-hosted phone calls using Kokoro.
# Run from the repository root after installing the desktop requirements.
# eSpeak-NG must be installed separately under its own license; no library/data
# is downloaded or bundled by this fork. See docs/INSTALLATION.md.
./third_party/kokoro_onnx
